.entrant-grid-section {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(8, [row] 1fr);
    max-height: 100vh;
}

.entrant-title {
    grid-column: col 3 / col 12;
    grid-row: row 2 / row 3;
    align-self: center;
    justify-self: center;
}

.entrant-title-inner {
    color: #0b4047;
    font-size: 3.6rem;
    font-weight: 600
}

.entrant-item {
    display: grid;
    grid-column: col 2 / col 12;
    grid-row: row 3 / row 8;
    grid-template-columns: repeat(10, [col] 1fr);
    grid-template-rows: repeat(5, [row] 1fr);
}

.entrant-item-optionaly{
    grid-column: col 5 / col 11;
    grid-row: row 1 / row 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrant-item-text {
    display: grid;
    grid-column: span 4;
    grid-row: span 5;
    grid-template-columns: repeat(1, [row] 1fr);
    grid-template-rows: repeat(5, [row] 1fr);
    margin-right: 2rem;
}

.entrant-item-text-maintitle {
    color: #0b4047;
    grid-template-rows: span 3;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    margin: 2.5rem 0px;
}

.entrant-item-text-subtitle {
    grid-template-rows: span 4;
    font-size: 1.2rem;
    margin: 0px 1rem;
    max-height: 100rem;
}

.telegram-frame{
    border:0px;
    height:90%;
    width:100%;
    box-shadow: 0 0 10px #0b4047;
}

@media screen and (max-width: 1250px) {
    .logo-holder img{
        max-width: 20rem;
        margin-left: 0;
    }

    .logo {
        padding-left: 50px;
    }

    .aaa {
        display: none;
        margin: 0 1rem;
    }

    .nws {
        display: flex;
        font-size: 20px;
        margin-left: 3.5rem;
    }
    
    .entrant-item-text {
        display: grid;
        grid-column: span 10;
        grid-row: span 2;
    }

    .entrant-item-optionaly{
        grid-column: span 10;
        grid-row: row 3 / row 6;
    }
    

    .entrant-item-text-maintitle {
        grid-template-rows: span 2;
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
        margin: 1rem 0px;
    }

    .entrant-item-text-subtitle {
        grid-template-rows: span 3;
        font-size: 1rem;
        margin: 0px 1rem;
        max-height: 100rem;
    }

    .telegram-frame{
        border:0px;
        height:100%;
        width:95%;
        box-shadow: 0 0 10px #0b4047;
    }
}

@media screen and (max-width: 900px) {
    .entrant-grid-section {
        max-height: 130vh;
    }
    .entrant-title-inner {
        color: #0b4047;
        font-size: 2rem;
        font-weight: 600
    }


}

/* PHONE FORMAT */
@media screen and (max-width: 480px) {

    .entrant-grid-section {
        max-height: 200vh;
    }

    .logo-holder img{
        max-width: 12rem;
    }

    .logo {
        padding-left: 20px;
    }

    .entrant-title-inner {
        color: #0b4047;
        font-size: 1.5rem;
        font-weight: 600
    }

    .entrant-item-text-maintitle {
        font-size: 1.2rem;
    }

    .entrant-item-text-subtitle {
        font-size: 0.8rem;

    }

    .entrant-item-optionaly {
        margin-top: 10rem;
        margin-bottom: -10rem;
    }
}
