/* footer */
footer {
    background-color: #0b4047;
    display: flex;
    height: 8rem;

    color: white;
    
    justify-content: center;
    align-items: center;
}

.footer-copyrights-texts {
    font-size: 2.4rem;
}