.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-basis: 100rem;
}

.slider-bar {
    background-color: white;
    box-shadow: 0 0 20px #0b4047;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100rem;
    border: 1px solid #0b4047;
    border-radius: 100px;
    opacity: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.slider-teachers-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100rem;
    max-height: 50px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.slider-teachers-maintitle {
    color: #0b4047;
    font-size: 3.6rem;
    font-weight: 600;
}

.slider-teachers-subtitle{
    color: black;
    font-size: 1.2rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    height: 700px;
    margin: 0;
    position: relative;
}

.slide {
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: transparent;
    flex-basis: 100rem;
    margin: 0px 10px;
    z-index: 2;
    transition: 0.4s;
}

.slide:hover {
    transform: scale(1.08);
    transition: 0.4s;
}

.slide-image {
    max-width: 400px;
    max-height: 500px;
    border: solid transparent;
    border-width: 0px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0b4047;
}

.slider-title {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-basis: 100rem;
    max-width: 100%;
    position: absolute;
    background-color: pi;
    margin: 20px 10px;
}

.slide-maintitle {
    color: white;
    max-width: 100%;
    font-size: 1.8rem;
    
}

.slide-subtitle {
    color: white;
    max-width: 100%;
    font-size: 1.2rem;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    flex-basis: 100rem;
    width: 1450px;

    color: white;
    z-index: 10;

    margin-top: 0 auto;
}

.slider-inner-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    background-color: white;
    border: solid black;
    border-width: 1px;
    border-radius: 100px;

}

.slider-inner-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    background-color: white;
    border: solid black;
    border-width: 1px;
    border-radius: 100px;
}

.slider-info-button {
    width: 200px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.slider-info-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.slider-info-button:focus {
    outline: none;
}

.slider-info-button.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.slider-caps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    height: 38rem;
    width: 99rem;
}

.left-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 105%;
    width: 175px;
    z-index: 5;
}

.right-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 105%;
    width: 175px;
    z-index: 5;
}

.slider-button {
    display: flex;
    max-width: 120px;
    max-height: 120px;
    padding: 15px;
    z-index: 10;
}
